<section class="listings">
  <div class="container">
    <%= render 'layouts/form' %>
    <div class="row-divide">
      <div class="col-sm-4 text-center">
        <h1 id="name">Software Engineer</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

      <div class="col-sm-4 text-center">
        <h1 id="name">Dentist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

      <div class="col-sm-4 text-center">
        <h1 id="name">Hair Stylists</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

      <div class="col-sm-4 text-center">
        <h1 id="name">Paraprofessional</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

      <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
       <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
       <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
       <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
       <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
       <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>
               <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

         <div class="col-sm-4 text-center">
        <h1 id="name">Dermatoligist</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis nulla nisi, eget ultrices odio mollis in. Maecenas viverra sit amet dolor vel tincidunt. Quisque fringilla diam leo.
        </p>
      </div>

  

      

    </div>
  </div>
</section>
<!-- dashbord  -->